{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}

    <h3>Book</h3>

    <a href="{{ path('main') }}">Home</a><br><br>

    <p>Title: {{ book.title }}</p>
    <p>Author: {{ book.author }}</p>
    <p>Date: {{ book.date }}</p>

    <a href="{{ path('edit_book', {'slug': book.slug}) }}">Edit</a>
    <a href="{{ path('delete_book', {'slug': book.slug}) }}">Delete</a>

{% endblock %}
